<ul class="position-list bg-w" >
    <li ui-sref="position({id:item.id})" class='item p-r' ng-repeat="item in data|filterByObj:filterObj">
        <img ng-src={{item.imageUrl}} class="logo f-l" alt="">
        <h3 class="title">{{item.name}}</h3>
        <p class="text">
            {{item.companyName}}[{{item.cityName}}] {{item.industryName}} {{item.scaleName}}<br>
        </p>
        <p class="text c-r" ng-bind="item.salaryName"></p>
        <p class="text">{{item.date}}</p>
        <span ng-if="isFavorite" class="p-a icon {{item.select?'star-active':'star'}}" ng-click="$event.stopPropagation(); select(item)"></span>
        <div class="clear"></div>
    </li>
</ul>